<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="KB 재테크 플랫폼, 회원가입이 완료되었습니다.">
    <meta name="description" content="">
    <title>마이페이지</title>
    <link rel="stylesheet" href="{% static '/CSS/default.css' %}" media="screen">
<link rel="stylesheet" href="{% static '/CSS/마이페이지.css' %}" media="screen">
<script class="u-script" type="text/javascript" src="{% static '/javascript/jquery.js'%}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static '/javascript/nicepage.js'%}" defer=""></script>    
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#59bec1">
    <meta property="og:title" content="마이페이지">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-white u-header" id="sec-8229"><div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="{% static '/images/KB1.png'%}" alt="" data-image-width="602" data-image-height="468">
        <h1 class="u-custom-font u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1" href="{% url 'home' %}">KB 재테크 플랫폼</a>
        </h1>
        <nav class="u-align-right u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
          
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-20 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url 'home' %}" style="padding: 10px;">Home</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url '부동산' %}" style="padding: 10px;">부동산</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url '주식' %}" style="padding: 10px;">주식</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url '적금카드' %}" style="padding: 10px;">적금/카드</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url '설명회' %}" style="padding: 10px;">설명회정보</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url 'my' %}" style="padding: 10px;">마이페이지</a>
            </li><li class="u-nav-item"><a class="u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-nav-link u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-1" href="{% url 'login' %}" style="padding: 10px;">로그인</a>
            </li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'home' %}">Home</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url '부동산' %}">부동산</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url '주식' %}">주식</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url '적금카드' %}">적금/카드</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url '설명회' %}">설명회정보</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'my' %}">마이페이지</a>
                </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'login' %}">로그인</a>
                </li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-a732" >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-text u-text-default u-text-1">마이 페이지</h3>
      
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-2">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-38 u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                  <p class="u-custom-font u-text u-text-3">나의 소비성향이 궁금하다면 ?</p>
                  <a href="{% url '소비' %}" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-radius-19 u-btn-2">확인하기</a>
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-22 u-layout-cell-4">
                <div class="u-container-layout u-valign-middle u-container-layout-4">
                  <img class="u-image u-image-2" src="{% static '/images/5823782.png'%}" data-image-width="512" data-image-height="512">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-3">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-5">
                <div class="u-container-layout u-container-layout-5">
                  <img class="u-image u-image-3" src="{% static '/images/2916115.png'%}" data-image-width="512" data-image-height="512">
                </div>
              </div>
              <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-6">
                <div class="u-container-layout u-container-layout-6">
                  <p class="u-custom-font u-text u-text-4">나의 자산상태가 궁금하다면 ?</p>
                  <a href="{% url '자산' %}" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-custom-font u-radius-19 u-btn-3">확인하기</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-clearfix u-footer u-grey-25" id="sec-abf8"><div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h6 class="u-text u-text-1">KB IT'S Your Life</h6>
                  <p class="u-text u-text-2">WonJi-Jeong, JooHee-Shin, Hyein-We, SeongJun-Lim, YoungBon-Ji</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div></footer>
   
  
</body></html>